## Preprocessing

In [5]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [6]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df=application_df.drop(columns=["EIN", "NAME"])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [7]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [8]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
type_count = application_df['APPLICATION_TYPE'].value_counts()
type_count

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [28]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(type_count.iloc[9:].index)
cutoff_value = 1500

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: count, dtype: int64

In [31]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_count = application_df['CLASSIFICATION'].value_counts()
print(classification_count)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: count, dtype: int64

In [32]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_count[classification_count>1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: count, dtype: int64

In [33]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_types.iloc[6:].index)
cutoff_value_classifications = 1500

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: count, dtype: int64

In [34]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies = pd.get_dummies(application_df)
dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [36]:
# Split our preprocessed data into our features and target arrays
y = dummies['IS_SUCCESSFUL'].values
X = dummies.drop(columns='IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [37]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [42]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

input_features_total = len(X_train[0])
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim = input_features_total, activation = "relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation = "relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_1"

 Layer (type)                          Output Shape                         Param #

 dense_3 (Dense)                       (None, 8)                                368

 dense_4 (Dense)                       (None, 5)                                 45

 dense_5 (Dense)                       (None, 1)                                  6

 Total params: 419 (1.64 KB)

 Trainable params: 419 (1.64 KB)

 Non-trainable params: 0 (0.00 B)

In [43]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer = "adam", metrics=["accuracy"])

In [44]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804  3s 2ms/step - accuracy: 0.6482 - loss: 0.6494
Epoch 2/100
804/804  3s 4ms/step - accuracy: 0.7255 - loss: 0.5743
Epoch 3/100
804/804  4s 3ms/step - accuracy: 0.7282 - loss: 0.5686
Epoch 4/100
804/804  2s 2ms/step - accuracy: 0.7283 - loss: 0.5629
Epoch 5/100
804/804  1s 2ms/step - accuracy: 0.7355 - loss: 0.5525
Epoch 6/100
804/804  1s 2ms/step - accuracy: 0.7337 - loss: 0.5504
Epoch 7/100
804/804  2s 2ms/step - accuracy: 0.7361 - loss: 0.5450
Epoch 8/100
804/804  1s 2ms/step - accuracy: 0.7376 - loss: 0.5466
Epoch 9/100
804/804  3s 2ms/step - accuracy: 0.7285 - loss: 0.5541
Epoch 10/100
804/804  2s 3ms/step - accuracy: 0.7332 - loss: 0.5497
Epoch 11/100
804/804  2s 2ms/step - accuracy: 0.7391 - loss: 0.5459
Epoch 12/100
804/804  3s 2ms/step - accuracy: 0.7314 - loss: 0.5489
Epoch 13/100
804/804  1s 2ms/step - accuracy: 0.7323 - loss: 0.5503
Epoch 14/100
804/804  3s 2ms/step - accuracy: 0.7356 - loss: 0.5440
Epoch 15/100
804/804  3s 2ms/step - accuracy: 0.7371 - loss: 0.5431
Epoch 16/100
804/804  3s 2ms/step - accuracy: 0.7356 - loss: 0.5477
Epoch 17/100
804/804  1s 2ms/step - accuracy: 0.7345 - loss: 0.5442
Epoch 18/100
804/804  3s 2ms/step - accuracy: 0.7282 - loss: 0.5513
Epoch 19/100
804/804  1s 2ms/step - accuracy: 0.7371 - loss: 0.5442
Epoch 20/100
804/804  3s 2ms/step - accuracy: 0.7319 - loss: 0.5463
Epoch 21/100
804/804  1s 2ms/step - accuracy: 0.7346 - loss: 0.5474
Epoch 22/100
804/804  3s 3ms/step - accuracy: 0.7370 - loss: 0.5423
Epoch 23/100
804/804  2s 2ms/step - accuracy: 0.7351 - loss: 0.5435
Epoch 24/100
804/804  1s 2ms/step - accuracy: 0.7350 - loss: 0.5428
Epoch 25/100
804/804  2s 2ms/step - accuracy: 0.7350 - loss: 0.5450
Epoch 26/100
804/804  1s 2ms/step - accuracy: 0.7364 - loss: 0.5402
Epoch 27/100
804/804  2s 2ms/step - accuracy: 0.7403 - loss: 0.5394
Epoch 28/100
804/804  1s 2ms/step - accuracy: 0.7332 - loss: 0.5456
Epoch 29/100
804/804  3s 3ms/step - accuracy: 0.7337 - loss: 0.5465
Epoch 30/100
804/804  2s 2ms/step - accuracy: 0.7363 - loss: 0.5412
Epoch 31/100
804/804  3s 2ms/step - accuracy: 0.7322 - loss: 0.5460
Epoch 32/100
804/804  1s 2ms/step - accuracy: 0.7343 - loss: 0.5430
Epoch 33/100
804/804  3s 2ms/step - accuracy: 0.7371 - loss: 0.5398
Epoch 34/100
804/804  1s 2ms/step - accuracy: 0.7354 - loss: 0.5432
Epoch 35/100
804/804  3s 3ms/step - accuracy: 0.7410 - loss: 0.5363
Epoch 36/100
804/804  1s 2ms/step - accuracy: 0.7343 - loss: 0.5450
Epoch 37/100
804/804  2s 2ms/step - accuracy: 0.7352 - loss: 0.5444
Epoch 38/100
804/804  2s 2ms/step - accuracy: 0.7372 - loss: 0.5445
Epoch 39/100
804/804  1s 2ms/step - accuracy: 0.7292 - loss: 0.5510
Epoch 40/100
804/804  1s 2ms/step - accuracy: 0.7348 - loss: 0.5444
Epoch 41/100
804/804  3s 3ms/step - accuracy: 0.7362 - loss: 0.5404
Epoch 42/100
804/804  2s 2ms/step - accuracy: 0.7345 - loss: 0.5468
Epoch 43/100
804/804  2s 2ms/step - accuracy: 0.7404 - loss: 0.5364
Epoch 44/100
804/804  1s 2ms/step - accuracy: 0.7355 - loss: 0.5448
Epoch 45/100
804/804  1s 2ms/step - accuracy: 0.7362 - loss: 0.5417
Epoch 46/100
804/804  3s 2ms/step - accuracy: 0.7349 - loss: 0.5459
Epoch 47/100
804/804  3s 2ms/step - accuracy: 0.7348 - loss: 0.5461
Epoch 48/100
804/804  2s 3ms/step - accuracy: 0.7355 - loss: 0.5436
Epoch 49/100
804/804  2s 2ms/step - accuracy: 0.7337 - loss: 0.5475
Epoch 50/100
804/804  2s 2ms/step - accuracy: 0.7364 - loss: 0.5396
Epoch 51/100
804/804  1s 2ms/step - accuracy: 0.7354 - loss: 0.5430
Epoch 52/100
804/804  3s 2ms/step - accuracy: 0.7399 - loss: 0.5378
Epoch 53/100
804/804  3s 2ms/step - accuracy: 0.7383 - loss: 0.5392
Epoch 54/100
804/804  3s 2ms/step - accuracy: 0.7375 - loss: 0.5430
Epoch 55/100
804/804  2s 2ms/step - accuracy: 0.7379 - loss: 0.5419
Epoch 56/100
804/804  3s 2ms/step - accuracy: 0.7342 - loss: 0.5440
Epoch 57/100
804/804  2s 2ms/step - accuracy: 0.7328 - loss: 0.5432
Epoch 58/100
804/804  2s 2ms/step - accuracy: 0.7361 - loss: 0.5403
Epoch 59/100
804/804  3s 3ms/step - accuracy: 0.7353 - loss: 0.5413
Epoch 60/100
804/804  2s 2ms/step - accuracy: 0.7372 - loss: 0.5404
Epoch 61/100
804/804  1s 2ms/step - accuracy: 0.7332 - loss: 0.5447
Epoch 62/100
804/804  3s 2ms/step - accuracy: 0.7384 - loss: 0.5403
Epoch 63/100
804/804  3s 2ms/step - accuracy: 0.7398 - loss: 0.5382
Epoch 64/100
804/804  1s 2ms/step - accuracy: 0.7367 - loss: 0.5427
Epoch 65/100
804/804  2s 2ms/step - accuracy: 0.7346 - loss: 0.5424
Epoch 66/100
804/804  3s 2ms/step - accuracy: 0.7354 - loss: 0.5414
Epoch 67/100
804/804  1s 2ms/step - accuracy: 0.7340 - loss: 0.5438
Epoch 68/100
804/804  3s 2ms/step - accuracy: 0.7372 - loss: 0.5391
Epoch 69/100
804/804  2s 2ms/step - accuracy: 0.7390 - loss: 0.5397
Epoch 70/100
804/804  3s 2ms/step - accuracy: 0.7351 - loss: 0.5418
Epoch 71/100
804/804  3s 3ms/step - accuracy: 0.7402 - loss: 0.5335
Epoch 72/100
804/804  2s 2ms/step - accuracy: 0.7337 - loss: 0.5412
Epoch 73/100
804/804  3s 2ms/step - accuracy: 0.7367 - loss: 0.5427
Epoch 74/100
804/804  3s 2ms/step - accuracy: 0.7387 - loss: 0.5397
Epoch 75/100
804/804  1s 2ms/step - accuracy: 0.7345 - loss: 0.5446
Epoch 76/100
804/804  3s 2ms/step - accuracy: 0.7386 - loss: 0.5401
Epoch 77/100
804/804  3s 3ms/step - accuracy: 0.7374 - loss: 0.5401
Epoch 78/100
804/804  2s 2ms/step - accuracy: 0.7331 - loss: 0.5467
Epoch 79/100
804/804  2s 2ms/step - accuracy: 0.7346 - loss: 0.5452
Epoch 80/100
804/804  1s 2ms/step - accuracy: 0.7380 - loss: 0.5432
Epoch 81/100
804/804  2s 2ms/step - accuracy: 0.7398 - loss: 0.5384
Epoch 82/100
804/804  3s 3ms/step - accuracy: 0.7358 - loss: 0.5418
Epoch 83/100
804/804  2s 2ms/step - accuracy: 0.7320 - loss: 0.5430
Epoch 84/100
804/804  2s 2ms/step - accuracy: 0.7376 - loss: 0.5400
Epoch 85/100
804/804  3s 2ms/step - accuracy: 0.7351 - loss: 0.5427
Epoch 86/100
804/804  1s 2ms/step - accuracy: 0.7352 - loss: 0.5418
Epoch 87/100
804/804  1s 2ms/step - accuracy: 0.7388 - loss: 0.5370
Epoch 88/100
804/804  3s 2ms/step - accuracy: 0.7357 - loss: 0.5425
Epoch 89/100
804/804  2s 3ms/step - accuracy: 0.7369 - loss: 0.5399
Epoch 90/100
804/804  2s 2ms/step - accuracy: 0.7414 - loss: 0.5350
Epoch 91/100
804/804  2s 2ms/step - accuracy: 0.7417 - loss: 0.5348
Epoch 92/100
804/804  1s 2ms/step - accuracy: 0.7399 - loss: 0.5386
Epoch 93/100
804/804  2s 2ms/step - accuracy: 0.7425 - loss: 0.5378
Epoch 94/100
804/804  3s 2ms/step - accuracy: 0.7312 - loss: 0.5469
Epoch 95/100
804/804  3s 3ms/step - accuracy: 0.7369 - loss: 0.5398
Epoch 96/100
804/804  2s 2ms/step - accuracy: 0.7412 - loss: 0.5379
Epoch 97/100
804/804  1s 2ms/step - accuracy: 0.7371 - loss: 0.5428
Epoch 98/100
804/804  2s 2ms/step - accuracy: 0.7397 - loss: 0.5395
Epoch 99/100
804/804  2s 2ms/step - accuracy: 0.7394 - loss: 0.5381
Epoch 100/100
804/804  1s 2ms/step - accuracy: 0.7365 - loss: 0.5433

In [45]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 2ms/step - accuracy: 0.7222 - loss: 0.5620
Loss: 0.5620194673538208, Accuracy: 0.7222157716751099

In [47]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimized.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.